<?xml version="1.0" encoding="UTF-8"?>
<!-- Example -->
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="Tests" verbose="5">
  <test name="Test1">
    <groups>
      <run>
        <include name="sanity"/>
      </run>
    </groups>
    <classes>
      <class name="ru.stqa.selenium.tests.HomePageTests"/>
    </classes>
  </test>
</suite>